<% include ./partials/header %>

	<!-- Shows every project -->
	<div class="container container-margin">
		<% for(i=0; i<portfolio.length; i++){ %>
			<div class="container">
				<h3><%= portfolio[i].name %></h3> <!-- Web development projects -->
				<div class="row inline-content">
					<% portfolio[i].projects.forEach(function(project){ %>
						<div class="col-md-3 col-sm-6">
							<div class="thumbnail">
								<img class="app-img" src="<%= project.image %>">
								<div class="caption">
									<h4 class="app-title"><%= project.title %></h4>
									<p class="app-info"><%= project.description %></p>
									<div class="git-align"><a class="btn btn-info btn-sm" href="<%= project.github %>"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></div>
								</div>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		<% } %>
	</div>

<% include ./partials/footer %>